html,
body,
.container-table {
  height: 100%;
}
.container-table {
  display: table;
}
.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}
.tictac-holder {
  display: inline-block;
  padding: 10px 20px;
  background: url('../img/background.png');
}
.tictac-holder > div {
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 1000px;
}
.tictac {
  width: 50px;
  height: 50px;
  display: block;
  margin: 5px;
}
.win.tictac-x,
.win.tictac-zero {
  -webkit-transform: translateZ(200px) translate(20%, -3%);
  -webkit-transform-style: preserve-3d;
}
.tictac-zero {
  background: url('../img/zero.png');
  transition: all 1s;
}
.tictac-x {
  background: url('../img/x.png');
  transition: all 1s;
}
